<h1>Eat Da Burger</h1>

<div class="container">
    <div id="availableheader">
        Burgers available!
    </div>
    <div class="row">
        <div class="col s6">
            {{#each burgers}}
                {{#unless this.devoured}}
                    <div>
                        <form action="/burgers/{{this.id}}?_method=PUT" method="post">
                            <button type="submit" class="availableBurger">{{this.burger_name}}</button>
                        </form>
                    </div>
                {{/unless}}
            {{/each}}
        </div>
        <div class="col s6">
            <div id="eatenheader">Eaten Burgers</div>
            {{#each burgers}}
                {{#if this.devoured}}
                    <div class="eaten">
                        <div>
                            {{this.burger_name}}
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<h2>Add your Burger</h2>
<div class="row">
    <div class="col s12">
        <form action="/burgers" method="post">
            <input type="text" id="name" name="burger_name">
            <button type="submit" class="burger-button">Add</button>
        </form>
    </div>
</div>
